body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

/* Page styling */
h2 a {
  font-size: 0.5em;
}

tr.top-aligned > td {
  vertical-align: top;
}

/* Crossword */

#crossword-table table,
#crossword-table table td {
  border: 1px solid black;
}

#crossword-table td {
  height: 30px;
  width: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

#crossword-table td.empty {
  background-color: black;
  cursor: default;
}

#crossword-table span.clue-number {
  position: absolute;
  font-size: 0.6em;
  top: 2px;
  left: 2px;
}

#crossword-table td.active {
  background: #bce8f1;
  font-weight: bold;
}

#crossword-table td.selected {
  background: #68CDFF;
}

#crossword-table td.correct {
  background: #d6e9c6;
}

#crossword-table td.correct.selected {
  background: #63C564;
}

#crossword-clues {
  height: 500px;
  overflow-y: scroll;
}

#crossword-clues p {
  padding: 3px;
}

#crossword-clues p.selected {
  background: #bce8f1;
}
